<script>
  export let href;
  export let replace = false;

  let el;

  function onClick(event) {
    if (shouldRejectEvent(event)) { return; }
    event.preventDefault();
    if (replace) {
      window.history.replaceState(null, "", href);
    } else {
      window.history.pushState(null, "", href);
    }
    el.dispatchEvent(new Event("navigate", { bubbles: true }));
  }

  function shouldRejectEvent(event) {
    if (event.defaultPrevented) { return true; }
    if (event.button !== void 0 && event.button !== 0) { return true; }
    if (event.metaKey || event.altKey || event.ctrlKey || event.shiftKey) { return true; }
    if (el.hasAttribute("target")) { return true; }
    //
    return false;
  }
</script>

<a bind:this={el} {href} {...$$props} on:click={onClick}><slot></slot></a>
